<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor de Temperatura y Humedad</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="container">
        <h1>Monitor de Temperatura y Humedad</h1>
        <div class="data">
            <p class="label">Temperatura: <span id="temperature" class="value">Cargando...</span> °C</p>
            <p class="label">Humedad: <span id="humidity" class="value">Cargando...</span> %</p>
        </div>
        <div id="errorMessage" class="error" style="display: none;">No se pudieron obtener los datos. Intenta nuevamente.</div>
        <div class="footer">IoT - Practica Raspberry Pi 4</div>
    </div>
    <script src="../static/fetch-data.js" defer></script>
</body>
</html>